name: Java CI with Maven and Tagging

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven (Resolve Dependencies, Compile and Test)
        working-directory: coinmaster
        run: mvn -B clean package --file pom.xml

      - name: Create tag
        id: create_tag
        run: |
          export TAG_NAME="build-$(date +%s)"
          echo "TAG_NAME=$TAG_NAME" >> $GITHUB_ENV
          git config user.name "${{ github.actor }}"
          git config user.email "${{ github.actor }}@users.noreply.github.com"
          git tag $TAG_NAME
          git push origin $TAG_NAME
